*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rgt-part input{
    margin-right: 10px;
    border-style: none;
    border-radius: 20px;
    text-align: center;
}

.rgt-part button{
    color: antiquewhite;
    border-radius: 10px;
    margin: 5px;
}

.card{
    margin: 7px;
    padding: 10px;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(233, 231, 229);
}

.card img{
    width: 250px;
    height: 250px;
    width: 50%;
}

.card-body{
    text-align: left;
    width: 40%;
}

.repo-card{
    margin: 15px;
    /* padding: 8px; */
    width: 500px;
    /* border-style: groove; */
    border-radius: 25px;
    background-color: rgb(212, 208, 208);
}

#output{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heading{
    background-color: rgba(126, 125, 125, 0.897);
    padding: 10px;
    margin: 0;
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-details{
    padding: 15px;
}
